.container {
    width: 40%;
    margin-left: auto; 
    margin-right: auto;
}
div div {
    background-color: rgb(209, 206, 206);
    color: white;
    position: relative;
    text-align: center;
}
div span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -16%;
    transform: translate(-50%, -50%);
}
.head {
    height: 45px;
    display: inline-block;
    margin-bottom: 10px;
}
.head:first-child {
    width: 20%;
}
.head:nth-child(2) {
    width: 50%;
    float: right;
}
nav div {
    height: 30px;
    margin-bottom: 12px;
}
.middle {
    display: inline-block;
    margin-bottom: 10px;
}
section {
    width: 49.5%;
    margin-right: 1.5%;
}
.left:first-child {
    height: 200px;
    margin-bottom: 6px;
}
.left:nth-child(2) {
    height: 200px;
    margin-bottom: 6px;
}
.left:last-child {
    height: 300px;
}
.left:last-child span {
    margin-top: -5%;
}
article {
    margin-right: 1.5%;
    width: 23%;
    margin-top: 0;
}
.center:first-child {
    height: 240px;
    margin-bottom: 4%;
}
.center:first-child span {
    margin-top: -10%;
}
.center:last-child {
    height: 465px;
}
.center:last-child span{
    margin-top: -60%;
}
aside {
    float: right;
    width: 23.5%;
}
.right:first-child {
    height: 180px;
    margin-bottom: 6px;
}
.right:first-child span {
    margin-right: 0px;
}
.right:nth-child(2) {
    height: 300px;
    margin-bottom: 6px;
}
.right:nth-child(2) span {
    margin-top: -20%;
}
.right:nth-child(2) span:nth-of-type(2) {
    margin-top: -10%;
}
.right:nth-child(3) {
    height: 220px;
    padding-left: 10px;
}

footer div {
    height: 100px;
}
#brackets {
    font-size: 60%;
    margin-top: 1%;
}
